*.dll
*.pdb
*.exe
bin/*
obj/*
bin/Debug/netcoreapp3.1/Programming.dll
bin/Debug/netcoreapp3.1/Programming.pdb
bin/Debug/netcoreapp3.1/Programming.exe
obj/Programming.csproj.nuget.dgspec.json
obj/project.assets.json
.gitignore
obj/Debug/netcoreapp3.1/Programming.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Programming.dll
obj/Debug/netcoreapp3.1/Programming.exe
obj/Debug/netcoreapp3.1/Programming.pdb
obj/Debug/netcoreapp3.1/Programming.pdb
obj/Debug/netcoreapp3.1/Programming.pdb
obj/Debug/netcoreapp3.1/Programming.pdb
